/* carrito.component.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.producto {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.producto p {
  margin: 0;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subtotal {
  font-size: 18px;
  margin-top: 20px;
}

.total {
  font-size: 24px;
  margin-top: 10px;
  color: #f44336;
}
