<!-- carrito.component.html -->
<div class="container">
  <h2>Carrito de Compras</h2>
  <div *ngFor="let producto of productos" class="producto">
    <p>{{ producto.nombre }} - {{ producto.precio }}</p>
    <button (click)="eliminarProducto(producto)">Eliminar</button>
  </div>
  <div class="button-container">
    <button (click)="agregarProducto()">Agregar Producto</button>
  </div>
  <p class="subtotal">Subtotal: {{ calcularSubtotal() }}</p>
  <p class="total">Total: {{ calcularTotal() }}</p>
</div>


<h2>¡Compra completada!</h2>
<p>Gracias por tu compra. El total pagado es: {{ calcularTotal() }}</p>
